#container {
    width: 400px;
    height: 600px;
    background-color: #D6D58E;
    display: flex;
    flex-direction: column;
}

#screen {
    min-height: 150px;
    width: auto;
    background-color: hsl(203, 39%, 53%);
    color: white;
    font-size: 60px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    margin: 15px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
}

input:focus {
    caret-color: #DBF227;
}

#keypad {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #D6D58E;
}

#rowzero {
    display: flex;
    justify-content: space-around;
}

#rowone {
    display: flex;
    justify-content: space-around;
}

#rowtwo {
    display: flex;
    justify-content: space-around;
}

#rowthree {
    display: flex;
    justify-content: space-around;
}

#rowfour {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #9FC131;
    color: white;
    font-size: 20px;
    border-radius: 50%; /*Makes it a circle, along with same height and width*/
    height: 70px;
    width: 70px;
    margin: 5px;
}

.numbers {
    color: aliceblue;
    background-color: hsl(174, 100%, 18%);
}

.delete {
    background-color: #042940;
}

.equals {
    background-color: #DBF227;
}

button:hover {
    background-color: black;
}

button:active {
    background-color: #DBF227;
}

#google img {
    height: 45px;
    width: 45px;
}

#darkmode {
    background-color: #3B3F41;
}

#darkmode:hover {
    background-color: #2C2D30;
}

#darkmode:active {
    background-color: #D0D1D5;
}