#container {
    width: 400px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#screen {
    height: 150px;
    width: auto;
    background-color: grey;
    color: white;
    font-size: 60px;
    text-align: right;
    padding: 10px;
    border-radius: 0 0 20px 20px;
}

input:focus {
    caret-color: rgb(124, 68, 214);
}

#keypad {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#rowzero {
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
}

#rowone {
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
}

#rowtwo {
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
}

#rowthree {
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
}

#rowfour {
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: seagreen;
    color: white;
    font-size: 20px;
    border-radius: 50%; /*Makes it a circle, along with same height and width*/
    height: 70px;
    width: 70px;
    margin: 5px;
}

.numbers {
    color: aliceblue;
    background-color: fuchsia;
}

#delete {
    background-color: peru;
}

#Equals {
    background-color: blueviolet;
}